@import "../colors";
@import "../mixins";

.container{
      background-color: $palette-red-50;
      border: 1px solid black;
      border-radius: 10px;
}

.text{
  margin-left: 10px;
  @include headline($color-black,19px);
}
